################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj
/packages
/Driver.AorusIT8297.nuspec
/Driver.AorusIT8297.1.0.0.nupkg
